.board {
	font-family: monospace;
	font-weight: bold;
	font-size: 200%;
	margin-right: auto;
	margin-left: auto;
}

.board td {
	border: 2px solid #3d5a80;
	color: #293241;
	border-radius: 4px;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
}

.msg {
	padding: 1em;
}

.msg.ok {
	color: white;
	background-color: #1a936f;
}

.msg.err {
	color: white;
	background-color: #ee6c4d;
}

.words {
	text-justify: auto;
}

body {
	background-color: #e0fbfc;
	color: #293241;
	text-align: center;
}
